In [2]:
import kagglehub
import os
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("usdot/flight-delays")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Path to dataset files: C:\Users\vanma\.cache\kagglehub\datasets\usdot\flight-delays\versions\1

In [3]:
import duckdb
conn = duckdb.connect()
#conn.read_csv("flights.csv", header = True, )

In [7]:
#Created date column and converted certain column datatype to appropriate column datatype till exempel varchar to time
#Taken unique records with reqired columns using row function to calculate Airline delays
import duckdb

test =duckdb.sql("""WITH cte AS (SELECT AIRLINE,FLIGHT_NUMBER ,TAIL_NUMBER , ORIGIN_AIRPORT , DESTINATION_AIRPORT ,make_date(year, month, day) as date1,  
           make_time(cast(substring(SCHEDULED_DEPARTURE , 1, 2) as int),cast(substring(SCHEDULED_DEPARTURE , 3, 4) as int),0.00) as SCHEDULED_DEPARTURE ,
           make_time(cast(substring(DEPARTURE_TIME  , 1, 2) as int),cast(substring(DEPARTURE_TIME  , 3, 4) as int),0.00) as DEPARTURE_TIME  ,
           make_time(cast(substring(SCHEDULED_ARRIVAL  , 1, 2) as int),cast(substring(SCHEDULED_ARRIVAL  , 3, 4) as int),0.00) as SCHEDULED_ARRIVAL  ,
           make_time(cast(substring(ARRIVAL_TIME , 1, 2) as int),cast(substring(ARRIVAL_TIME , 3, 4) as int),0.00) as ARRIVAL_TIME ,
           ARRIVAL_DELAY  
           FROM read_csv('flights.csv') where ARRIVAL_DELAY > 0                   
           ),
           cte1 as (SELECT *, row_number() OVER (PARTITION BY date1,DEPARTURE_TIME,TAIL_NUMBER  ORDER BY date1,DEPARTURE_TIME) as rn
            FROM cte) 
           select * from cte1 where rn = 1 """)
duckdb.register("test_view", test)
airlines = duckdb.sql("SELECT * FROM read_csv('airlines.csv')")
duckdb.register("airlines_view", airlines)

# Top 5 Airlines Airlines with least Avg Delays
duckdb.sql(""" WITH avgdelay1 AS (SELECT AIRLINE, 
round(avg(ARRIVAL_DELAY ),2) as Avg_Delay_mins FROM test_view group by Airline) 
select A.AIRLINE as AR_code,B.Airline as Airline, Avg_Delay_mins from avgdelay1 A left join airlines_view B ON A.Airline = B.IATA_CODE 
order by Avg_Delay_mins LIMIT 5 """)

┌─────────┬────────────────────────┬────────────────┐
│ AR_code │        Airline         │ Avg_Delay_mins │
│ varchar │        varchar         │     double     │
├─────────┼────────────────────────┼────────────────┤
│ HA      │ Hawaiian Airlines Inc. │          15.38 │
│ AS      │ Alaska Airlines Inc.   │          22.56 │
│ US      │ US Airways Inc.        │          27.42 │
│ WN      │ Southwest Airlines Co. │          29.42 │
│ VX      │ Virgin America         │          30.73 │
└─────────┴────────────────────────┴────────────────┘

In [19]:
#to find Airlines cancelled mostly due to the cancellation Reason
import pandas as pd
my_dictionary = {}
pandas_df = pd.DataFrame.from_dict({
    'Canlellation_code': ['A', 'B', 'C', 'D'],
    'Cancellation_reason': ['Airline/Carrier', 'Weather', 'National Air System', 'Security']
})
cancellation_reason = duckdb.sql("SELECT * FROM pandas_df")
duckdb.register("cancellation_reason_view", cancellation_reason)

airlines = duckdb.sql("SELECT * FROM read_csv('airlines.csv')")
duckdb.register("airlines_view", airlines)

duckdb.sql(""" WITH cte as
           (SELECT AIRLINE,FLIGHT_NUMBER ,TAIL_NUMBER ,make_date(year, month, day) as date1,  
           make_time(cast(substring(SCHEDULED_DEPARTURE , 1, 2) as int),cast(substring(SCHEDULED_DEPARTURE , 3, 4) as int),0.00) as SCHEDULED_DEPARTURE,
            make_time(cast(substring(DEPARTURE_TIME  , 1, 2) as int),cast(substring(DEPARTURE_TIME  , 3, 4) as int),0.00) as DEPARTURE_TIME  ,
           CANCELLATION_REASON,
           CANCELLED
           FROM read_csv('flights.csv') 
           where CANCELLED = 1            
           ),
           cte1 as 
           (SELECT *, row_number() OVER (PARTITION BY date1,DEPARTURE_TIME,TAIL_NUMBER  ORDER BY date1,DEPARTURE_TIME) as rn
            FROM cte
            ),
            noofcancell AS
            (SELECT AIRLINE, 
            round(sum(CANCELLED ),2) as No_of_cancellations, CANCELLATION_REASON FROM cte1  where rn =1
            group by Airline,CANCELLATION_REASON 
            ),
            MAxcancell AS 
            (select * from (SELECT *,row_number() OVER (PARTITION BY AIRLINE ORDER BY No_of_cancellations desc) as rn1
            from noofcancell ) where rn1 = 1
            )
            select A.Airline as AR_code,B.Airline as Airline, No_of_cancellations,C.cancellation_reason as CANCELLATION_REASON 
            from MAxcancell A left join airlines_view B ON A.Airline = B.IATA_CODE 
            Left join cancellation_reason_view C ON A.CANCELLATION_REASON = C.Canlellation_code

 """)

┌─────────┬──────────────────────────────┬─────────────────────┬─────────────────────┐
│ AR_code │           Airline            │ No_of_cancellations │ CANCELLATION_REASON │
│ varchar │           varchar            │       double        │       varchar       │
├─────────┼──────────────────────────────┼─────────────────────┼─────────────────────┤
│ AS      │ Alaska Airlines Inc.         │               242.0 │ Airline/Carrier     │
│ VX      │ Virgin America               │               259.0 │ National Air System │
│ B6      │ JetBlue Airways              │              1258.0 │ Weather             │
│ HA      │ Hawaiian Airlines Inc.       │                24.0 │ Airline/Carrier     │
│ NK      │ Spirit Air Lines             │               614.0 │ Weather             │
│ AA      │ American Airlines Inc.       │              4419.0 │ Weather             │
│ F9      │ Frontier Airlines Inc.       │                40.0 │ Airline/Carrier     │
│ EV      │ Atlantic Southeast Airlines  │              3194.0 │ National Air System │
│ OO      │ Skywest Airlines Inc.        │              3318.0 │ Weather             │
│ MQ      │ American Eagle Airlines Inc. │              4533.0 │ Weather             │
│ WN      │ Southwest Airlines Co.       │              5126.0 │ Weather             │
│ DL      │ Delta Air Lines Inc.         │              1981.0 │ Weather             │
│ US      │ US Airways Inc.              │               136.0 │ Airline/Carrier     │
│ UA      │ United Air Lines Inc.        │               371.0 │ Airline/Carrier     │
├─────────┴──────────────────────────────┴─────────────────────┴─────────────────────┤
│ 14 rows                                                                  4 columns │
└────────────────────────────────────────────────────────────────────────────────────┘